* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vw;
    position: fixed;
    top: 0;
    left: 0;
}
header h1 a {

}
#header h1 {
    
}
#header-navbar {
    margin-left: 15vw;
}
#header-navbar a {
    margin: 0 1vw;
}

#welcome-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    height: 100vh;
    width: 100%;
    opacity: 0.9;

}
#welcome-section {
    
}
#welcome-section-navbar {
    color: rgb(255, 255, 255);
    margin-left: 15vw;
    position: fixed;
    top: 10vh;
    left: 0;
}
#welcome-section-navbar a {
    padding: 0 2vw;
}
#welcome-section h2 {
    font-size: 10vw;
    font-family:'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    margin: 40vh 0 31vh 0;
    text-align: center;
}

#welcome-section p {
    text-align: center;
    font-size: 4vh;
    background-color:rgb(255, 0, 0);
    padding: 1vh 0;
}
#welcome-section a {

}

#covid-section {
    background-color:rgb(145, 114, 114);
    color:rgb(255, 255, 255);
    text-align: center;
}
#covid-section h2 {
    font-size: 7vh;
    padding: 15vh 0 5vh 0;

}
#covid-section p {
    font-size: 2vw;
    width: 70%;
    margin-left: 15vw;
}
#covid-section p a {
    text-decoration: underline;
}

.more-h4 {
    padding: 15vh 0;
    font-size: 3vh;
    text-decoration: center;
}
.more-link {
    background-color:rgb(255, 0, 0);
    padding: 3vh 2vw;
}

#news-section h2 {
    padding: 15vh 0 5vh 0;
    font-size: 7vh;
    text-align: center;
}
#news-section-p {
    font-size: 4vh;
    text-align: center;
    padding-bottom: 5vh;
}

#news-tiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vh;
    margin: 0 2vw;

}

.tiles {
    background-color:rgb(255, 0, 0);
    height: 55vh;
    
}

#news-tiles > article:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
#news-tiles > article:nth-of-type(1) img {
    width: 46vw;
    
}
#news-tiles > article:nth-of-type(6) {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}
.tiles img {
    height: 28vh;
    width: 22vw;
    object-fit: fill;
    object-position: center;
}

/*
#news-tiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vh;
    grid-auto-rows: 70vh;
    margin: 0 3vw;
}
#one {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    color: rgb(255, 255, 255);
}
#one img {
    height: 60vh;
    width: 44vw;   
}
#one h3{
    position: relative;
    top: -20vh;
    left: 3vw;
    text-transform: uppercase;
}
#one p {
    position: relative;
    top: -20vh;
    left: 3vw;
    padding-right: 10vw;
    font-size: 4vh;

}
#six {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}
.tiles img {
    height: 30vh;
    width: 23vw;
}
*/