* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vw;
    position: fixed;
    top: 0;
    left: 0;
}
header h1 a {

}
#header h1 {
    
}
#header-navbar {
    margin-left: 15vw;
}
#header-navbar a {
    margin: 0 1vw;
}

#welcome-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    height: 100vh;
    width: 100%;
    opacity: 0.9;

}
#welcome-section {
    
}
#welcome-section-navbar {
    color: rgb(255, 255, 255);
    margin-left: 15vw;
    position: fixed;
    top: 10vh;
    left: 0;
}
#welcome-section-navbar a {
    padding: 0 2vw;
}
#welcome-section h2 {
    font-size: 10vw;
    font-family:'Times New Roman', Times, serif;
    color:rgb(255, 255, 255);
    margin: 40vh 0 31vh 0;
    text-align: center;
}

#welcome-section p {
    text-align: center;
    font-size: 4vh;
    background-color:rgb(255, 0, 0);
    padding: 1vh 0;
}
#welcome-section a {

}

#covid-section {
    background-color:rgb(145, 114, 114);
    color:rgb(255, 255, 255);
    text-align: center;
}
#covid-section h2 {
    font-size: 7vh;
    padding: 15vh 0 5vh 0;

}
#covid-section p {
    font-size: 2vw;
    width: 70%;
    margin-left: 15vw;
}
#covid-section p a {
    text-decoration: underline;
}
#covid-section > h4 a {
    padding: 3vh 2vw;
}
.more-h4 {
    padding: 15vh 0;
    font-size: 3vh;
    text-align: center;
    
}
.more-link {
    background-color:rgb(255, 0, 0);
    padding: 3vh 10vw;
    
}

#news-section h2 {
    padding: 15vh 0 5vh 0;
    font-size: 7vh;
    text-align: center;
}
#news-section-p {
    font-size: 4vh;
    text-align: center;
    padding-bottom: 5vh;
}

#news-tiles {
    display: grid;
    grid-template-columns: repeat(4, 22vw);
    gap: 4vh;
    margin: 0 2vw;
    
}

#news-tiles > article:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
#news-tiles > article:nth-of-type(1) img, #news-tiles > article:nth-of-type(6) img {
    width: 46vw;
    height: 60vh;
}
#news-tiles > article:nth-of-type(6) {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
}

.tiles {
    background-color:rgb(255, 255, 255);
    height: 60vh;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
}
.tiles h3 {
    text-transform: uppercase;
    font-size: 2vh;
    font-weight: 700;
    color:rgb(163, 1, 1);
}
.tiles p {
    margin-top: 2vh;
    font-size: 3vh;
    font-weight: 600;
}
.tiles h3, .tiles p {
    padding: 0 2vw;
}
.tiles img {
    height: 30vh;
    width: 22vw;
    object-fit: cover;
    object-position: center;
    margin-bottom: 4vh;
}
.large-tiles h3, .large-tiles p {
    color:rgb(255, 255, 255);
    position: relative;
    top: -20vh;
    letter-spacing: 1px;
    max-width: 40vw;
}

#events-section {
    text-align: center;
    background-color: rgb(53, 40, 40);
    
}
#events-section > h2 {
    padding: 10vh 0 3vh 0;
    font-size: 7vh;
    color:rgb(255, 255, 255);
    font-weight: 800;
}
#events-section > p {
    color:rgb(255, 255, 255);
    font-size: 4vh;
    margin-bottom: 10vh;
}
#events-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2vw;
}

.events-tiles {
    background-color:rgb(255, 255, 255);
    color:rgb(61, 61, 61);
    width: 23%;
    height: 90vh;
    text-align: left;
    
}

.events-tiles > img {
    width: 100%;
}
.events-date {
    color:rgb(255, 255, 255);
    background-color: rgb(53, 40, 40);
    font-size: 3vh;
    padding: 5vh 3vh;
    position: relative;
    top: -2vh;
}
.events-tiles > h3, .events-tiles > p, .events-tiles time {
    margin: 0 2vw;
}
.events-tiles > h3 {
    margin-top: 9vh;
    margin-bottom: 1vh;
    color:rgb(163, 1, 1);
    font-weight: 500;
    
}
.events-tiles > p{
    font-size: 3vh;
    font-weight: 600;
    margin-bottom: 3vh;
    line-height: 4vh;
}